#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.inventory {
    padding: 4px 4px 4px 4px;
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 700px;
    margin-left: 964px;
}

.infoPanel {
    padding: 4px 4px 4px 4px;
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 700px;
    margin-right: 964px;
}

.centerPanel {
    padding: 2px 2px 2px 2px;
    position: absolute;
    height: 500px;
    width: 700px;
    border: 1px solid black;
}

.options span:hover{
    text-decoration: underline;
}

.messageBox {
    position: absolute;
    top: 99%;
    left: 50%;
    margin-top: -12%;
    margin-left: -350px;
    width: 700px;
    height: 150px;
    opacity: 100%;
    border: 2px solid black;
    background: #FFFFFF;
}

.options {
    position: absolute;
    bottom:0%;
    left:50%;
    height:30px;
    width:100px;
    opacity: 100%;
    margin-left: -50px;
    background:#999;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
}

.showMsgBox {
    cursor: pointer;
}

/* PROGERSS BAR STYLES */

#mainBar {
    width: 99%;
    background-color: lightgrey;
    border: 1px solid black;
}

#progressBarMain {
    width: 1%;
    height: 30px;
    background-color: blue;
}